@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(1, 1, 28);
    transition: background 0.4s linear;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Global Padding */

.pad10-top {
    padding-top: 10px;
}

.pad20-top {
    padding-top: 20px;
}

.pad30-top {
    padding-top: 30px;
}

.pad10-bottom {
    padding-bottom: 10px;
}

.pad20-bottom {
    padding-bottom: 20px;
}

.pad30-bottom {
    padding-bottom: 30px;
}

/* Header */

#header {
    background-color: rgb(1, 1, 28);

    position: fixed;
    width: 100%;

    box-shadow: 0px 4px 5px rgba(1, 1, 28, 0.315);
}

#header .menu ul a {
    color: rgb(255, 255, 255);

    font-family: 'poppins', sans-serif;
    font-size: 19px;
    font-weight: 400;

    text-transform: uppercase;
}

#header .flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .flex-box nav {
    display: flex;
    align-items: center;
    gap: 36px;
}

#header .flex-box .logo {
    max-width: 170px;
}

#header .menu-lista {
    display: flex;
    gap: 75px;
}

/* Tipografias */

.title {
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 248, 248);
    line-height: 1.2;
}

.title.one {
    font-size: 5.5em;
    font-weight: 700;
}

.title.two {
    font-size: 4em;
    font-weight: 700;
}

.title.three {
    font-size: 24px;
    font-weight: 600;
}

.title.four {
    font-size: 16px;
    font-weight: 600;
}

.title.paragraph.one {
    font-size: 24px;
    font-weight: 600;
}

.title.paragraph.two {
    font-size: 28px;
    font-weight: 700;
}

.title.center {
    text-align: center;
}

.content-box p {
    font-family: 'poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 400;

    text-align: justify;

    color: rgb(255, 255, 255);
}

.blue-text {
    color: rgb(0, 0, 255);
}

.lightblue-text {
    color: rgb(165, 165, 255);
}

/* Botoes */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 300px;

    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;

    border-radius: 255px;
    transition: 0.4s;
}

.btn.solid {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 255);
}

.btn.outline {
    background-color: transparent;
    color: rgb(165, 165, 255);
    border: 2px solid rgb(165, 165, 255);
}

.btn.solid:hover {
    filter: brightness(1.5);
    background-color: rgb(0, 0, 85);
    border-color: rgb(0, 0, 85);

}

.btn.outline:hover {
    background: rgb(165, 165, 255);
    color: rgb(255, 255, 255);
}

#header .menu ul a:hover {
    transition: 0.4s;
    color: rgb(165, 165, 255);
}

#carrinho .flex-box .form input:hover {
    transition: 0.4s;
    filter: brightness(1.5);
}

#carrinho .flex-box .ticket-list .ticket .controls button:hover {
    transition: 0.4s;
    border: 2px solid rgb(204, 204, 204);
}

/* Grid */

.container {
    /* padding: 10px;*/
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Seções */

#principal {
    padding: 100px 0;
}

#principal .flex-box {
    display: flex;
    align-items: center;
    gap: 75px;
}

#sobre {
    padding: 100px 0;
}

#sobre .flex-box {
    display: flex;
    align-items: center;
    gap: 75px;
}

#sobre .flex-box .left, #sobre .flex-box .right {
    width: 100%;
}

#sobre .flex-box .left img {
    width: 100%;
}

#artistas {
    padding: 50px 0;
}

#artistas .lista-de-artistas {
    display: flex;
    gap: 15px;
}

#finalizacao {
    padding: 100px 0;
}

#finalizacao .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#finalizacao .flex-box .ticket {
    position: relative;
    min-width: 1000px;
    min-height: 370px;
    padding: 40px;
    
    border: 1px solid rgb(0, 0, 255);
    border-left-width: 100px;
    
}

#finalizacao .flex-box .ticket img {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#finalizacao .flex-box .ticket .quantity-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
}

#carrinho {
    padding: 100px 0;
}

#carrinho .flex-box {
    display: flex;
    gap: 40px;
}

#carrinho .flex-box .left, #carrinho .flex-box .right {
    width: 100%;
}

#carrinho .flex-box .right {
    max-width: 300px;
}

#carrinho .flex-box .ticket-list {
    margin-top: 30px;
}

#carrinho .flex-box .ticket-list .ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border: 1px solid rgb(165, 165, 255);
    border-radius: 25px;
}

#carrinho .flex-box .ticket-list .ticket .controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#carrinho .flex-box .ticket-list .ticket .controls button {
    font-family: 'poppins', sans-serif;
    font-size: 17px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;

    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 255px;
}

#carrinho .flex-box .ticket-list .ticket .controls span {
   font-family: 'poppins', sans-serif;
   font-size: 19px;
   font-weight: 700;

   color: rgb(165, 165, 255);
}

#carrinho .flex-box .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#carrinho .flex-box .form input {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background-color: transparent;
    color: rgb(165, 165, 255);

    height: 54px;
    padding: 0 20px;
    border:  1px solid rgb(165, 165, 255);
    border-radius: 255px;
}

#carrinho .flex-box .form button {
    margin-top: 30px;
}

#rodape-dois {
    bottom: 0;
    position: fixed;
    width: 100%;
}

#rodape .flex-box, #rodape-dois .flex-box {
    background-color: rgb(0, 0, 53);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    padding: 30px;
}

#rodape .menu-liste, #rodape-dois .menu-liste {
    display: flex;
    gap: 36px;
}

#rodape .content p, #rodape-dois .content p {
    font-family: 'poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

#rodape span, #rodape-dois span {
    color: rgb(165, 165, 255);
}




/* clear mode */

.clear {
    background: rgb(216, 216, 252);
    transition: 0.4s;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: rgb(165, 165, 255);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 26px;
    width: 50px;
    padding: 5px;

    transform: scale(1.5);
}

.label .ball {
    background-color: rgb(0, 0, 0);

    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.3s linear;
}

.clear .label .ball {
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: rgb(0, 0, 85);
}

.fa-sun {
    color: rgb(255, 187, 0);
}

.clear .title {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.473);

    line-height: 1.2;
    transition: 0.4s linear;
}

.clear .content-box p {
    font-weight: 400;
    transition: 0.4s linear;

    color: rgb(0, 0, 0);
}

.clear #carrinho .flex-box .ticket-list .ticket .controls button {
    color: rgb(165, 165, 255);
    border-color: rgb(165, 165, 255);
    transition: 0.4s;
}

.clear #finalizacao .flex-box .ticket .quantity-box {
    border-color: rgb(0, 0, 255);
    transition: 0.4s;
}

/* Media Query */

@media (max-width: 970px) {
    nav .menu-icon {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 60%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: 0.3s ease-in;
        background-color: rgb(165, 165, 255);

    }

    .menu ul:active {
        transform: translateX(0);
    }

    .menu ul li {
        padding: 10px;
    }

    .menu ul a {
        font-size: 18px;
        color: white;
    }

    .menu ul button {
        background-color: brown;
        font-size: 18px;
        margin: 10px;
    }
}
