@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* tipografias */

.title {
    font-family: 'Poppins', sans-serif;
}

.title.one {
    font-size: 5.5em;
    font-weight: 700;
}

.title.two {
    font-size: 4em;
    font-weight: 700;
}

.title.three {
    font-size: 24px;
    font-weight: 600;
}

.title.four {
    font-size: 16px;
    font-weight: 600;
}

.title.paragraph.one {
    font-size: 24px;
    font-weight: 600;
}

.title.paragraph.two {
    font-size: 28px;
    font-weight: 700;
}

.content-box p{
    font-size: 1.2em;
    font-weight: 400;
}

/* Botoes */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blue;
    color: aliceblue;

    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;

    height: 60px;
    width: 300px;
    border-radius: 255px;
}

a {
    text-decoration: none;
}